
.header {
  height: 65px;
}


.nav-wrapper {
  float: left;
  position: relative;
  height: 100%;
  width: 70%;
}

.navbar {
  top: 25%;
  position: absolute;
  overflow: hidden;
  list-style: none;

  li {
    float: left;
    padding-right: 10px;

    a {
      display: inline-block;
      padding: 10px;
      text-decoration: none;

      &:hover {

      }
    }
  }
}


// for arrow symbols
.arrow-icon {
  color: $icon-gray;
  font-size: 0.5em;
}
